/* universal styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.flex-container {
    display: flex;
    align-items: center;
}

/* header */
header {
    margin-top: 40px;
}

.site-title {
    padding-left: 70px;
    flex-basis: 30%;
}

/* header nav */
nav {
    flex-basis: 40%;
    word-spacing: 20px;
    text-align: center;
}

li {
    list-style-type: none;
    display: inline;
    font-size: 1.3em;
}

a {
    text-decoration: none;
    color: black;
}

/* header buttons */
.accounts {
    text-align: right;
    flex-basis: 25%;
    word-spacing: 10px;
}

.sign-in {
    background-color: transparent;
    border: none;
    font-size: 1.3em;
    cursor: pointer;
}

.sign-up {
    font-size: 1.3em;
    padding: 10px;
    color: white;
    background-color: black;
    /* background-color: rgba(6, 10, 44, 0.904); */
    border: none;
    cursor: pointer;

}

/* call to action */
main {
    margin-top: 100px;
    display: flex;
}

.action {
    max-width: 40%;
    margin-left: 100px;
}

.billboard {
    font-size: 3rem;
    font-weight: bold;
}

.billboard-info {
    max-width: 50%;
    margin-top: 20px;
    font-size: 1.1em;
}

.fa-arrow-right {
    margin-top: 20px;
    color: white;
    background-color: black;
    padding: 10px;
    display: inline-block;
}

hr {
    color: rgb(201, 201, 201);
    margin-top: 50px;
    max-width: 70%;
    text-align: center;
}

/* image */
img {
    height: 400px;
    text-align: right;
    margin-left: 100px;
    margin-right: 100px;
}

/* money options */
.money-options {
    max-width: 40%;    
    margin-top: 30px;
    font-size: 1.7em;
    word-spacing: 30px;
    text-align: center;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 1220px) {
    img {
        height: 300px;
    }
    
    /* hamburger menu here */
    
}

@media only screen and (max-width: 1070px) {
    img {
        height: 275px;
    }

    .billboard {
        font-size: 2.7rem;
    }

    .billboard-info {
        font-size: 1.3rem;
    }
}

@media only screen and (max-width: 1000px) {
    img {
        height: 250px;
    }

    .billboard {
        font-size: 2.5rem;
    }

    .billboard-info {
        font-size: 1.2rem;
    }
}

@media only screen and (max-width: 950px) {
    img {
        display: none;
    }

    .action {
        max-width: 100%;
        text-align: center;
        margin-left: 0px;
    }

    .billboard-info, .money-options {
        max-width: 100%;
    }
}


